version: '3.7'
services:
  maltelogin:
    build: .
    container_name: maltelogin
    restart: unless-stopped
    volumes:
      - ./config.json:/app/config.json
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "7672:7672"
