version: '3.7'
services:
  maltelogin:
    image: maltelogin
    container_name: maltelogin
    restart: unless-stopped
    volumes:
      - ./config.json:/maltelogin/config.json
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    #ports:
    #  - "127.0.0.1:5090:5090"
    # ^^ uncomment these if you need the endpoint exposed outside of your docker network
